<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>cs_valueObjectClassTemplete</Title>
      <Shortcut>cs_valueObjectClassTemplete</Shortcut>
      <Description>Value Object Class Template</Description>
      <Author></Author>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <Default>ClassName</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp">
  <![CDATA[    public record $name$VO$end$
    {
        #region Fields ----------------------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------

        #region Constants -------------------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------

        #region Properties ------------------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------

        #region Events ----------------------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------

        #region Constructor -----------------------------------------------------------------------------------

        /// <summary>
        /// コンストラクタ
        /// </summary>
        public $name$VO()
        {
        }

        #endregion --------------------------------------------------------------------------------------------

        #region Methods ---------------------------------------------------------------------------------------

        #region Methods - public ------------------------------------------------------------------------------

        /// <summary>
        /// パラメータが有効かを判定します。
        /// </summary>
        /// <returns>有効ならtrue</returns>
        public static bool IsValid()
        {
            return true;
        }
        
        #endregion --------------------------------------------------------------------------------------------

        #region Methods - private -----------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------

        #endregion --------------------------------------------------------------------------------------------
    }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>