<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>cs_regions</Title>
      <Shortcut>cs_regions</Shortcut>
      <Description>Class Outline Regions</Description>
      <Author></Author>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="false"></Literal>
      </Declarations>
      <Code Language="csharp">
  <![CDATA[#region Fields ----------------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Constants -------------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Properties ------------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Events ----------------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Constructor -----------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Methods ---------------------------------------------------------------------------------------

#region Methods - public ------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Methods - protected ---------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Methods - private -----------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#region Methods - override ----------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------

#endregion --------------------------------------------------------------------------------------------$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>